.c-button {
  font-size: var(--fs-300);
  color: hsl(var(--clr-white));
  background-image: linear-gradient(to right, hsl(var(--clr-gradient-start)), hsl(var(--clr-gradient-end)));
  // padding: 1.2rem 5.475rem;
  padding: 1.2rem 0;
  border: none;
  border-radius: 5px;
  transition: outline 150ms ease-in-out, background-image 2000ms ease-in-out;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  &.-featured {
    color: hsl(var(--clr-gradient-end));
    background-color: hsl(var(--clr-white));
    background-image: none;
  }

}

.c-button:hover {
  color: hsl(var(--clr-gradient-end));
  background-image: none;
  background-color: transparent;
  outline: 1px solid hsl(var(--clr-dark-grayish-blue));

  &.-featured {
    background-image: none;
    outline: 1px solid hsl(var(--clr-white));
    color: hsl(var(--clr-white));
  }
}
